ol {
    list-style: dot;
}
ul {
    list-style-type: disc;
}
/*table {
    border-collapse: collapse;
    border-spacing: 0;
}
*/

/*separate=each border have*/
table {
    border-collapse: separate;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
}

/*PS,  <link>rel="stylesheet" href=" "  寫在html內,  @import url(" " )   寫在css內*/

/*https://yeun.github.io/open-color/*/
@import url("https://fonts.googleapis.com/earlyaccess/cwtexkai.css");
/*adobe楷體中文  ,code: font-family: "cwTeKai", serif; */
@import url("https://fonts.googleapis.com/earlyaccess/cwtexming.css");
/*adobe明細體中文,  code: font-family:"cwTeMing", serif*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/*瘦長標題字*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
/*瘦長中體內文字字*/
@import url("https://fonts.googleapis.com/css?family=Noto+sans+TC:100,200,400,500,600,700,800,900&display=swap" );
/*思源正黑體英文,   code: font-family: "Noto sans TC", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family='Rotobo', sans-serif");
/*adobel中細體英文,端正方字 'Rotobo', sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/*Inter 比 Roboto 字型更正規*/

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #dedede;
}
:root{
     --main-color:#000;
     --grey-color:#adadad;
     --tint-color:#fff;
     --shades-color:#808080;
     --accent-color:#808080;
}

.container{
    margin:auto;
    background-color: #fff;
    width:650px;
    height:auto;
    font-family: 'center',sans-serif;
    border:1px solid #adadad;
    padding:100px;
}
.container h2{
    font-size: 16px;
    font-weight: 500;
}
.container h1{
    font-size: 40px;
    letter-spacing: 1.8px;
    font-weight: 4;
    font-weight: 600;
}
.text{
    display:inline-block;
    align-items: center;
    text-align: left;
    margin:40px 0;
    background-color: #e5dfdf;
    padding:3px 20px;
    border-radius: 3px;
}
.text a{
    text-decoration: none;
    color:#000;
    font-size: 18px;
}
.text a .fa-solid{
    font-size: 18px;
    display:inline-block;
    padding-left: 15px;
}
.space{
    width:100%;
    height:140px;
}
.icon{
    display:flex;
    margin:0;
    overflow: hidden;
}
.icon img{
    background-position:center;
    background-size: cover; 
    width:60px;
    height:60px;
    border-radius:50%;
    margin-right: 20px;
}
.icon p{
    line-height: 22px;
    font-size: 16px;
} 
.p{
    width:70%;
    font-size: 18px;
    line-height: 26px;
    color:#808080;
}
